spring:
  application:
    name: todo-list
  datasource:
    username: sa
    password: 1234
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:

      ddl-auto: create-drop
    show-sql: true